# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/lager/

# ignore these plugins
wp-content/plugins/hello.php
wp-content/plugins/wordfence

# ignore specific themes
wp-content/themes/twenty*/

# ignore log files and databases
*.log
*.sql
*.sqlite
wp-content/wflogs

# ignore specific files
wp-config.php
.htaccess
.DS_Store
error_log
*.po~
*.pot~
