/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 740px;
	padding-left: 0;
	padding-right: 0;
}

/*********************
HEADER STYLES
*********************/


/*********************
MY ACCOUNT STYLES
*********************/


// TABS
.tabs,
#account-tabs {
	font-size: 1.7rem;

	.nav {
		flex-direction: row;
	}
}

.log-in-wrap {
	.login-flex-container {
		display: flex;
		flex-direction: row;

		> .login-column {
			margin-bottom: 0;
			max-width: calc(50% - #{$double-padding});
			order: 2;

			&.hva-er-skolerom {
				order: 1;
				background-image: url(../images/handing-pc-vertical-wider.svg);
				background-position: center 130%;
		    background-size: 210px;
		    background-repeat: no-repeat;
			}

			.btn-line {
				margin-top: 110px;
			}
		}
	}
}



/*********************
POSTS & CONTENT STYLES
*********************/


/*********************
PAGE BUILDER STYLES
*********************/

// Banner
.banner {
	.banner-slide {
		.banner-content {
			min-height: 370px;
		}
	}
}

.banner {
	.banner-slide {

		// ANIMATION - KEN BURNS
		&.ken_burns {
			.banner-image {
				transform: scale(1.2) translate(50px, 20px);
			}

			&.is-selected {
				.banner-image {
					transform: scale(1) translate(0, 0);
				}
			}
		}
	}
}

// News articles
.news-article {
	&.t-2of3,
	&.d-2of3 {
		.thumb {
			padding-bottom: 40%;
		}
	}

	&.new-featured-article {
		.news-content-wrapper {
			> a {
				display: inline-flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: center;
			}
		}

		.news-title {
			font-size: $heading1;
		}

		.thumb,
		.news-content {
			width: 50%;
		}

		.thumb {
			min-height: 100%;
		}

		.news-content {
	    display: inline-flex;
	    flex-direction: column;
	    align-items: center;
			height: 100%;
		}

		.extra-news-options {
			margin-top: $double-padding;
		}
	}
}

// Selling Points
.selling-points {
	.wrap {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.selling-point {
		width: 33.3333%;
		margin: 0;
	}
}

// Products slider
.products-slider,
.news-slider {
	ul.products {
		li.product {
			width: 28%;
		}
	}

	// News slider
	.slider-news-article {
		width: 27%;
	}
}

// Category Cloud
.category-cloud-list {
	li {
		margin: 0 10px;

		a {
			padding: 18px 40px;
		}
	}
}

// The boxes in box-grid
.box-grid {
	.boxes-container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		margin: 0 -20px;
	}
}

.sp-box {
	width: 33.333333%;
	padding: 0 $double-padding;

	.sp-box-number {
		z-index: 2;
		position: relative;
	}

	.sp-box-perspective {
		perspective: 500px;
	}

	.sp-box-content {
		margin-bottom: 0;
		height: 100%;
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
		transform: scale(.95) translateY(-10px) rotateX(0deg);
		transition: all .35s ease-in-out;
	}

	&:hover {
		.sp-box-content {
			transform: scale(1) translateY(0) rotateX(0);
			box-shadow: 0 0px 15px 0px rgba($black, 0.2);
			filter: hue-rotate(-2deg);
		}
	}
}

.offer-box {
	.sp-offers-main-content {
		flex-direction: row;

		> * {
			margin-bottom: 0;
		}

		.sp-offers {
			width: 60%;
		}

		.aside-info {
			width: calc(40% - #{$forty-padding});
			margin-left: $forty-padding;
		}
	}

	.btn-line {
		text-align: right;
	}
}

/*********************
PAGE SPECIFIC STYLES
*********************/

// Om skolerom.no
body.page-id-7947 {
	// #row-6 {
	// 	background-image: url(../images/handing-pc.svg);
	// 	background-repeat: no-repeat;
	// 	//background-position: 150% center;
	// 	background-position: 106% center;
	// 	background-size: auto calc(100% - 120px);
	// 	transition: all 1.2s ease-in-out;
	// 	transition-delay: 1s;
	//
	// 	// .wrap {
	// 	// 	max-width: 580px;
	// 	// }
	//
	// 	&.is-visible {
	// 		background-position: 106% center;
	// 	}
	// }

	.btn-line {
		&.done-animating {
			.btn-purple {
				animation: sp-pulse .4s;
			}
		}
	}
}

/*********************
GENERAL STYLES
*********************/

// Radio Facet
.archive-header {
	.facetwp-type-checkboxes,
	.facetwp-type-radio,
	.category-buttons {
		.facetwp-checkbox,
		.facetwp-radio,
		.cat {
			margin-right: $small-padding;
			margin-left: $small-padding;
			margin-bottom: $base-padding;
			padding: 3px 13px 2px;
			font-size: $small-size;
		}
	}

	// Bokasin Categories Facet
	.facetwp-facet-bokasinkategorier {
		.facetwp-radio {
			width: 130px;
			margin-left: 0;
			margin-right: 0;
		}
	}

	// Logo section
	.brand-logos {
		.brand-logo {
			width: 15%;
			padding: 0 $double-padding;
		}
	}
}


/*********************
PUBLICATIONS GRID (MODULE)
*********************/

.publications-grid {
	.bokasin-examples {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.bokasin-example-listing {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin-bottom: $double-padding;

		h3 {
			display: inline-block;
			width: calc(100% - 110px);
		}
	}
}

/*********************
SPOKEN ARTICLE MODUL
*********************/

.spoken-article {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	.spoken-fi {
		display: inline-block;
		float: left;
		margin: 0 $double-padding 0 0;
		width: auto;
		height: auto;
		max-width: 118px!important;
	}

	.spoken-innhold {
		display: inline-flex;
		flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
		width: calc(100% - 138px);
		float: left;
	}

	.spoken-ikon {
		display: inline-block;
		width: 50px;
		height: auto;
		margin: 0 $double-padding 0 0;
	}

	.spoken-btns {
		a {
			img {
				display: inline-block;
				width: 20px;
		    height: auto;
		    position: relative;
		    top: 3px;
		    margin-right: 10px;
				margin-bottom: 0;
			}
		}
	}

	.small-font-mobile {
		font-size: $base-size;
		line-height: 1.5em;
		padding: 7px 25px;
	}
}


/*********************
SINGLE POST STYLES
*********************/

#main {
	body.post-template & {
		padding-right: 0;
	}
}

// Sosiale delelenker
.delelenker {
	.simplefavorite-button {
		margin: 0;
		float: right;
	}
}

/*********************
SUPPORT ARCHIVE
*********************/

body.post-type-archive-support {
	.facetwp-link {
		margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 3px 13px 2px;
    font-size: 1.5rem;
	}
}

/*********************
EDUCATION ARCHIVE
*********************/

.facet-dropdowns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: $double-padding;
}

// Education archives listing
.education-listing {
	aside.education-listing-content {
		width: calc(300% - #{$double-padding});
	}

	&:nth-of-type(3n+1) {
		aside.education-listing-content {
			left: $base-padding;
			transform: none;
		}
	}

	&:nth-of-type(3n+2) {
		aside.education-listing-content {
			left: $base-padding;
			transform: translateX(-34.2%);
		}
	}

	&:nth-of-type(3n+3) {
		aside.education-listing-content {
			left: $base-padding;
			transform: translateX(-68.5%);
		}
	}
}

aside.education-listing-content {
	.sp-term-section {
		width: calc(33% - #{$double-padding});

		&.benchmarks {
			width: calc(66% - #{$double-padding});
		}
	}
}

/*********************
POST OVERVIEW POST
*********************/

// Netflix carousel
.netflix-tile {
	.netflix-tile-img {
		height: 150px;
	}

	&:hover {
    transform: scale(1.1) translate(-50%, calc(-50% + 18px));
	}
}

// TILE POPUP
.tile-popup {
	max-width: 740px;
	padding: 0;
	display: block;
	overflow: hidden;
	display: flex;
  flex-direction: column;
  justify-content: center;

	.flex-columns {
		flex-direction: row;
		justify-content: space-between;
		height: 100%;

		.column-left,
		.column-right {
			width: calc(50% - #{$double-padding});
		}

		.column-left {
			margin-bottom: 0;
			margin-right: $base-padding;
		}

		.column-left {
			display: flex;
	    flex-direction: column;
	    align-items: center;
			margin-right: $base-padding;
		}

		.column-right {
			margin-left: $base-padding;
			position: absolute;
	    right: 0;
			top: 50%;
			transform: translateY(calc(-50% - 20px));
	    max-height: 100%;
	    overflow-y: auto;
			padding: $forty-padding;
		}
	}

	.tile-popup-image {
		width: auto;
		height: auto;
		max-height: 80%;
		max-width: 100%;
	}

	&.active {
		.column-right {
			transform: translateY(-50%);
		}
	}
}

/*********************
SINGLE PUBLICATION STYLES
*********************/

body.single-publication {
	.entry-title {
		display: inline-block;
		float: left;
	}

	.buy-equivalent {
		margin-top: 0;
		float: right;
	}
}

/*********************
CAMPAIGN PAGE STYLES
*********************/

.campaign-article {
	.campaign-wrapper {
		width: 740px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
}


/*********************
ADS STYLES
*********************/

.reklame {
	&:before {
		padding: $base-padding 14px;
		font-size: $small-size;
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

}

.widget {
	margin-bottom: 0;
}

/*********************
FOOTER
*********************/

.footer-icons {
	.footer-icon {
		margin: 0 $forty-padding;
	}
}
